.c-header{
	background-color: white;
	display: grid;
	text-align: center;
}

.c-header__home-logo{
}

.c-header__nav-list{
	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;

		li{
			margin: $spacer 0;
		}
	}
}

.c-header--mobile{
	.c-header--mobile__topbar{
		display: grid;
		grid-template-columns: 70px auto 70px;
		grid-template-rows: 70px;
	}

	.c-header--mobile__home-logo{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		padding: $spacer 0;

		img{
			width: 50px;
			height: 50px;
		}
	}

	.c-header--mobile__navicon{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		img{
			width: 30px;
			height: 30px;
		}
	}

	.c-header--mobile__nav-list{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		opacity: 0;

		display: none;
		height: 0px;

		ul{
			list-style-type: none;
			margin: 0;
			padding: 0;


			.c-header--mobile__nav-list__nav-link{
				text-decoration: none;
				color: $aa-red;
				font-style: italic;

				li{
					margin: $spacer 0;
				}

				&.--active{
					color: white;

					li{
						background-color: $aa-red;
						font-style: normal;
					}
				}

				&:hover{
					color: white;

					li{
						background-color: $aa-red;
						font-style: normal;
					}

				}
			}
		}
	}
}
